{% extends "common/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'disposal/css/resceipt.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="div_list">
        <div class="div_complete">
            <div class="div_comlete_logo">
                <img id="complete_img" src="{% static 'disposal/img/logo_check.png' %}" alt="complete logo">
            </div>
            <div class="div_complete_text">
                접수가 완료되었습니다!
            </div>
        </div>
        {% for reservation in reservations %}
        <div class="div_card">
            <div class="div_info_box">
                <div class="div_info_content">
                    <div class="content_box">
                        <div class="content_title_box">
                            <div class="content_title_left">[</div>
                            <div class="content_title">등록번호</div>
                            <div class="content_title_right">]</div>
                        </div>
                        <div class="content_text">{{ reservation.id }}</div>
                    </div>
                    <div class="content_box">
                        <div class="content_title_box">
                            <div class="content_title_left">[</div>
                            <div class="content_title">품목</div>
                            <div class="content_title_right">]</div>
                        </div>
                        <div class="content_text">{{ reservation.item }}</div>
                    </div>
                    <div class="content_box">
                        <div class="content_title_box">
                            <div class="content_title_left">[</div>
                            <div class="content_title">규격</div>
                            <div class="content_title_right">]</div>
                        </div>
                        <div class="content_text">{{ reservation.standard }}</div>
                    </div>
                    <div class="content_box">
                        <div class="content_title_box">
                            <div class="content_title_left">[</div>
                            <div class="content_title">수량</div>
                            <div class="content_title_right">]</div>
                        </div>
                        <div class="content_text">{{ reservation.count }} 개</div>
                    </div>
                    <div class="content_box">
                        <div class="content_title_box">
                            <div class="content_title_left">[</div>
                            <div class="content_title">총금액</div>
                            <div class="content_title_right">]</div>
                        </div>
                        <div class="content_text">{{ reservation.price }} 원</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="div_message">
            등록번호를 폐기물에 부착하여 지정된 장소에 배출하세요.
        </div>
        <div class="div_enter">
            <a id="enter" href="{% url 'main' %}">확인</a>
        </div>
    </div>
</div>
{% endblock content %}