.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.div_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
}

.div_img #img {
    height: 100%;
}

.hide {
    display: none;
}

.flex {
    display: flex;
}

.div_item_standard {
    justify-content: flex-start;
    flex-direction: column;
}

.div_count_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.div_item_content_box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.div_progress, .div_predict{
    display: none;
}

#div_item_other {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-decoration: underline;
    cursor: pointer;
}

#label_input_file {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.standard_selected {
    background-color: green;
}

#div_count_content {
    width: 30px;
    text-align: center;
}

#div_page1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#div_page2 {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
}
#div_page3 {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
}

#div_page4 {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
}

.div_count {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.div_cards {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

select { 
    width: 200px; /* 원하는 너비설정 */ 
    padding: .8em .5em; /* 여백으로 높이 설정 */ 
    font-family: inherit; /* 폰트 상속 */ 
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */ 
    border: 1px solid #999; border-radius: 0px; /* iOS 둥근모서리 제거 */ 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none; 
}