.container {
    /* max-width: 500px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.div_list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.div_complete {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.div_card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.div_id_reservation_date {
    display: flex;
    justify-content: space-between;
}
.div_id {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
}
.div_reservation_date {
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
}
.reservation_date {
    display: table-cell;
    vertical-align: bottom;
    clear:both;
}
.div_info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.div_info_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.content_box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.content_title_box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.content_title {
    width: 80px;
    text-align: center;
}
.content_text {
    width: 100px;
    text-align: right;
}
.div_enter {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.div_img {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
#img {
    width: 100px;
}
.div_message {
    color: red;
    width: 240px;
}